name: Unit Tests & Coverage

on:
  push:
    branches: ["*"]
  pull_request:
    branches: ["*"]

jobs:
  unit-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python 3.11
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Unit Tests with Coverage
        run: pytest tests/unit/test_services.py --cov=app/services.py --cov-fail-under=80
